.cart{
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: sticky;
    top: 0;
    height: 6%;
}
h4{
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    color: #1C2B35;
}
.cart p{
    font-size: 17px;
}

.clear-btn{
    border: none;
    width: 232px;
    height: 48px;
    border-radius: 4px;
    background: #FF3030;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}
.review-btn{
    margin-top: 16px;
    border: none;
    width: 232px;
    height: 48px;
    border-radius: 4px;
    background: #F90;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}